<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>WWDC 2012</string>
	<key>CFBundleIdentifier</key>
	<string>com.pripp.widget.WWDC2012</string>
	<key>CFBundleName</key>
	<string>WWDC 2012</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CloseBoxInsetX</key>
	<integer>13</integer>
	<key>CloseBoxInsetY</key>
	<integer>13</integer>
	<key>Height</key>
	<integer>401</integer>
	<key>MainHTML</key>
	<string>main.html</string>
	<key>Width</key>
	<integer>317</integer>
</dict>
</plist>
